Flask==2.1.0
google-api-core==2.11.1
google-auth==2.19.1
googleapis-common-protos==1.59.1
opencensus==0.11.2
opencensus-context==0.1.3
opencensus-ext-prometheus==0.2.1
prometheus-client==0.17.0
prometheus-flask-exporter==0.22.4
requests==2.31.0
