Flask==2.0.2
google-api-core==2.7.1
google-auth==2.5.0
googleapis-common-protos==1.56.0
opencensus==0.8.0
opencensus-context==0.1.2
opencensus-ext-prometheus==0.2.1
prometheus-client==0.13.1
prometheus-flask-exporter==0.19.0
requests==2.27.1
