PyJWT==1.7.1
cryptography==3.3.1
flask==1.0.2
google-auth==1.24.0
gunicorn==20.0.4
requests==2.21.0
requests_toolbelt==0.9.1

urllib3>=1.25.9 # not directly required, pinned by Snyk to avoid a vulnerability