grpcio==1.47.0
google-cloud-bigquery[pandas,pyarrow]==3.5.0
# datalab has outdated dependencies that require google-api-core < 2
# The last version of google-cloud-bigquery-storage that supports google-api-core 1.x is 2.13.2
google-cloud-bigquery-storage==2.19.1
datalab==1.2.1
ipython==8.12.0
pyarrow==7.0.0
