body {
  margin: 16px 16px 0;
}

.mdc-card img {
  display: block;
  margin: auto;
  max-width: 100%;
}

.mdc-card button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.hidden {
  display: none;
}

.mdc-card h2 {
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
}

mwc-linear-progress {
  margin-top: auto;
}

.mdc-card p {
  padding: 0 16px;
  margin-bottom: 0;
}
