cryptography==40.0.0
google-api-python-client==2.47.0
google-auth-httplib2==0.1.0
google-auth==2.17.2
google-cloud-pubsub==2.16.0
google-cloud-iot==2.5.1
grpc-google-iam-v1==0.12.6
pyjwt==2.6.0
paho-mqtt==1.5.1
