google-auth==1.30.0
google-cloud-bigquery-storage==2.4.0
google-cloud-bigquery==2.17.0
pyarrow==4.0.1
ipython==7.10.2; python_version > '3.0'
ipython==5.9.0; python_version < '3.0'
pandas==0.25.3; python_version > '3.0'
pandas==0.24.2; python_version < '3.0'
