[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "*"
six = "*"
python-dateutil = "*"
"urllib3" = "*"
pyyaml = "*"
google-cloud-pubsub = "==0.30.1"

[dev-packages]
nose = "*"
pluggy = "*"
py = "*"
randomize = "*"
coverage = "*"
pylint = "*"

[requires]
python_version = "3.5"
