[run]
include =
    appengine/*
    bigquery/*
    blog/*
    compute/*
    datastore/*
    monitoring/*
    storage/*
    cloud_logging/*
    managed_vms/*
[report]
exclude_lines =
    pragma: NO COVER
    if __name__ == '__main__':
