[run]
include =
    appengine/*
    bigquery/*
    blog/*
    cloud_logging/*
    compute/*
    dns/*
    datastore/*
    managed_vms/*
    monitoring/*
    speech/*
    storage/*
[report]
exclude_lines =
    pragma: NO COVER
    if __name__ == '__main__':
