.coveralls.yml
*.pyc
.coverage
.tox
coverage.xml
python-docs-samples.json
service-account.json
client-secrets.json
__pycache__
*db\.sqlite3
managed_vms/django_tutorial/static/*
**/migrations/*
lib
testing/resources/test-env.sh
testing/resources/service-account.json
testing/resources/client-secrets.json
secrets.tar
.cache
junit.xml
credentials.dat
.nox
