<!doctype html>
<html>
<head>
    <title>Make App-to-app Request</title>
</head>
<body>

    <h1>Make App-to-app Request</h1>

    <p>
        Make a request to another App Engine application, including an
        Authorization token identifying the requesting application.
    </p>

    <form action="" method="post">
        <label for="url">URL to call: </label>
        <input type="text" name="url" id="url" required />
        <input type="submit" value="Make authenticated call" />
    </form>
</body>
</html>
