pandas==2.2.3; python_version == '3.7'
pandas==2.2.3; python_version == '3.8'
pandas==2.2.3; python_version > '3.8'
pillow==10.4.0; python_version < '3.8'
pillow==10.4.0; python_version >= '3.8'
google-cloud-aiplatform[all]==1.84.0
sentencepiece==0.2.0
google-auth==2.29.0
anthropic[vertex]==0.28.0
numpy<3
openai==1.68.2
immutabledict==4.2.0
