Flask==2.2.3
apache-beam[gcp]==2.46.0
google-cloud-aiplatform==1.24.0
gunicorn==20.1.0
pandas==1.5.3; python_version < '3.7'
pandas==1.5.3; python_version == '3.7'
pandas==2.0.0; python_version > '3.7'
tensorflow==2.9.3
