Flask==2.2.3
apache-beam[gcp]==2.46.0
google-cloud-aiplatform==1.23.0
gunicorn==20.1.0
pandas==1.1.5; python_version < '3.7'
pandas==1.3.5; python_version == '3.7'
pandas==2.0.0; python_version > '3.7'
tensorflow==2.12.0
