google-cloud-bigquery==2.4.0
google-cloud-bigquery-storage==2.0.1
google-auth-oauthlib==0.4.2
grpcio==1.33.2
ipython==7.16.1; python_version < '3.7'
ipython==7.17.0; python_version >= '3.7'
matplotlib==3.3.3
pandas==1.1.4
pyarrow==1.0.1
pytz==2020.1
