cachetools==4.2.4 # apache-beam requires cachetools<5
fastavro==1.5.4
fasteners==0.17.3
google-api-python-client==1.12.11 # earthengine-api requires google-api-python-client<2
google-apitools==0.5.31 # apache-beam requires google-apitools<0.5.32
google-auth-httplib2==0.1.0
google-auth==1.35.0 # earthengine-api requires google-api-python-client<2
google-cloud-bigquery-storage==2.13.2 # apache-beam requires google-cloud-bigquery-storage<2.14
google-cloud-bigquery==2.34.4 # apache-beam requires google-cloud-bigquery<3
google-cloud-bigtable==1.7.2 # apache-beam requires google-cloud-bigtable<2
google-cloud-core==2.3.2
google-cloud-datastore==1.15.5 # apache-beam requires google-cloud-datastore<2
google-cloud-dlp==3.8.0
google-cloud-language==1.3.2 # apache-beam requires google-cloud-language<2
google-cloud-pubsub==2.13.5
google-cloud-pubsublite==1.4.2
google-cloud-storage==2.5.0
google-cloud-spanner==1.19.3 # apache-beam requires google-cloud-spanner<2
google-cloud-resource-manager==1.6.1
google-cloud-recommendations-ai==0.7.1
