body{
	height: 800px;
	display: flow;
	align-items: center;
	font-family: "Google Sans", fantasy;
}

#scoreButton{
    background: #f3f2f2;
	width: 20%;
	text-transform: uppercase;
	font-family: "Google Sans", fantasy;
	font-size: 1em;
	height: 30px;
}

#user-img{
    margin: auto;
    position: relative;
    top: -35px;
    max-width: 200px;
    max-height: 100px;
}

#submitBtn{
	background: #4285f4;
	width: 35%;
	font-family: "Google Sans", fantasy;
	font-weight: bold;
	font-size: 1.25em;
	height: 55px;
}

a{
	color: #4285f4 !important;
}

.card-panel{
	text-align: center;
}

.card-panel h3{

	font-family: "Google Sans", fantasy;
	font-weight: 200 !important;
	margin-top: -1em;

}

#recaptcha_render_div{
	display: none;
}
