# This is a template that shows the environment variables you should
# populate when running the app locally
# Point to a PostgreSQL database and Redis of your choice
# Redis Master and Slave can have the same host value
export POSTGRES_SERVICE_HOST=<postgres_host>
export POSTGRES_SERVICE_PORT=<postgres_port>
export REDIS_MASTER_SERVICE_HOST=<redis_master_host>
export REDIS_MASTER_SERVICE_PORT=<redis_master_port>
export REDIS_SLAVE_SERVICE_HOST=<redis_slave_host>
export REDIS_SLAVE_SERVICE_PORT=<redis_slave_port>
export DJANGO_PW=<django_pw>
