Flask==3.0.3; python_version > '3.6'
Flask==2.0.3; python_version < '3.7'
gunicorn==23.0.0
imageio==2.36.1
numpy==2.2.4; python_version > '3.9'
numpy==2.2.4; python_version == '3.9'
numpy==2.2.4; python_version == '3.8'
numpy==2.2.4; python_version == '3.7'
pillow==10.4.0
scipy==1.14.1
Werkzeug==3.0.3
