<!doctype html>
<html>
<head>
  <title>Datastore and Firebase Auth Example</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <h1>Datastore and Firebase Auth Example</h1>
  <!-- [START gae_python38_datastore_print_times] -->
  <h2>Last 10 visits</h2>
  {% for time in times %}
    <p>{{ time['timestamp'] }}</p>
  {% endfor %}
  <!-- [END gae_python38_datastore_print_times] -->
</body>
</html>
