google-api-python-client==2.47.0
google-auth-httplib2==0.1.0
google-auth==2.17.2
google-cloud==0.34.0
google-cloud-storage==2.0.0; python_version < '3.7'
google-cloud-storage==2.1.0; python_version > '3.6'
