beautifulsoup4==4.7.1
coverage==4.5.2
flaky==3.5.3
funcsigs==1.0.2
mock==2.0.0
mysql-python==1.2.5; python_version < "3.0"
PyCrypto==2.6.1
pytest-cov==2.6.1
pytest==4.1.1
pyyaml==3.13
responses==0.10.5
WebTest==2.0.32
webapp2==2.5.2
google-api-python-client==1.7.7
google-cloud-core==0.29.1
gcp-devrel-py-tools==0.0.15
flask==1.0.2
