beautifulsoup4==4.6.0
coverage==4.4.1
flaky==3.4.0
funcsigs==1.0.2
mock==2.0.0
mysql-python==1.2.5; python_version < "3.0"
PyCrypto==2.6.1
pytest-cov==2.5.1
pytest==3.2.2
pytest-capturelog==0.7
pyyaml==3.12
responses==0.7.0
WebTest==2.0.28
webapp2==2.5.2
google-api-python-client==1.6.4
google-cloud-core==0.27.1
gcp-devrel-py-tools==0.0.11
