Django==4.0.7; python_version >= '3.8'
Django==3.2.15; python_version < '3.8'
# Uncomment the mysqlclient requirement if you are using MySQL rather than
# PostgreSQL. You must also have a MySQL client installed in that case.
#mysqlclient==1.4.1
wheel==0.38.1
gunicorn==20.1.0; python_version > '3.0'
gunicorn==19.10.0; python_version < '3.0'
# psycopg2==2.8.4 # uncomment if you prefer to build from source
psycopg2-binary==2.9.4
