{
  "okta_domain": "https://your-okta-domain.okta.com",
  "okta_client_id": "your-okta-client-id",
  "okta_client_secret": "your-okta-client-secret",
  "gcp_workload_audience": "//iam.googleapis.com/projects/123456789/locations/global/workloadIdentityPools/my-pool/providers/my-provider",
  "gcs_bucket_name": "your-gcs-bucket-name",
  "gcp_service_account_impersonation_url": "https://iamcredentials.googleapis.com/v1/projects/-/serviceAccounts/my-service-account@my-project.iam.gserviceaccount.com:generateAccessToken"
}
