Pillow==8.3.0
apache-beam[gcp]==2.30.0
google-cloud-aiplatform==1.1.1
google-cloud-bigquery==2.23.1 # Indirect dependency, but there is a version conflict that causes pip to hang unless we constraint this.