google-cloud-dialogflow-cx==1.38.0
Flask==3.0.3
python-dateutil==2.9.0.post0
functions-framework==3.8.2
Werkzeug==3.0.6
termcolor==3.0.0; python_version >= "3.9"
termcolor==2.4.0; python_version == "3.8"
pyaudio==0.2.14