Flask==3.0.3
gunicorn==23.0.0
imageio==2.35.1; python_version == '3.8'
imageio==2.36.1; python_version >= '3.9'
numpy==2.2.4; python_version > '3.9'
numpy==1.26.4; python_version == '3.9'
numpy==1.24.4; python_version == '3.8'
pillow==10.4.0
scipy==1.10.1; python_version <= '3.9'
scipy==1.14.1; python_version > '3.9'
