google-cloud-monitoring==2.0.0
google-cloud-trace==0.24.0
opencensus==0.7.11
Flask==1.1.2
opencensus-ext-stackdriver==0.7.4
opencensus-ext-flask==0.7.3
opencensus-context==0.1.2
grpcio==1.33.2
httpretty==1.0.2
