Flask==1.1.4; python_version < '3.0'
Flask==2.0.0; python_version > '3.0'
google-cloud-datastore==2.1.0; python_version >= "3.0"
google-cloud-datastore==1.15.3; python_version < "3.0"
google-cloud-tasks==2.0.0 ; python_version >= "3.0"
google-cloud-tasks==1.5.0 ; python_version < "3.0"
