Flask==3.0.3
gunicorn==23.0.0
opentelemetry-exporter-gcp-trace==1.7.0
opentelemetry-propagator-gcp==1.7.0
opentelemetry-instrumentation-flask==0.34b0
opentelemetry-instrumentation-requests==0.34b0
google-cloud-trace==1.14.1
Werkzeug==3.0.3
