cryptography==41.0.3
Flask==2.2.2
functions-framework==3.1.0
google-cloud-secret-manager==2.12.1
lxml==4.9.2
pycryptodome==3.18.0
pyOpenSSL==23.2.0
requests==2.31.0
signxml==3.2.0
pytest==7.3.1
pytest-mock==3.10.0
