Flask==2.2.5
functions-framework==3.5.0
google-cloud-secret-manager==2.12.1
lxml==4.9.4
pycryptodome==3.21.0
pyOpenSSL==24.0.0
requests==2.31.0
signxml==3.2.0
pytest==8.2.0
pytest-mock==3.14.0
Werkzeug==3.0.3
