Flask==2.2.5
functions-framework==3.8.2
google-cloud-secret-manager==2.21.1
lxml==5.2.1
pycryptodome==3.21.0
pyOpenSSL==25.0.0
requests==2.32.2
signxml==4.0.3
pytest==8.2.0
pytest-mock==3.14.0
Werkzeug==3.0.6
