google-cloud-storage==2.8.0
google-cloud-bigquery[pandas,pyarrow]==3.10.0
matplotlib==3.7.1; python_version > '3.6'
matplotlib==3.3.4; python_version == '3.6'
matplotlib==2.2.5; python_version < '3.0'
