Flask==3.1.3; python_version >= '3.9'
flask-cors==6.0.1
gunicorn==23.0.0
six==1.16.0
pyyaml==6.0.2
requests==2.33.0
google-auth==2.38.0
google-auth-oauthlib==1.2.1
Werkzeug==3.1.8; python_version >= '3.9'
