Flask==3.0.3
flask-cors==6.0.0; python_version >= "3.9"
flask-cors==5.0.0; python_version == "3.8"
gunicorn==23.0.0
six==1.16.0
pyyaml==6.0.2
requests==2.31.0
google-auth==2.38.0
google-auth-oauthlib==1.2.1
Werkzeug==3.0.6