Query {{#getResource}}"{{getQueryName}}" returned {{getQueryResult}} {{#isAsset}}asset(s){{/isAsset}}{{#isFinding}}finding(s){{/isFinding}} for {{getOrganizationName}} - {{#isAsset}}asset id{{/isAsset}}{{#isFinding}}finding id{{/isFinding}} : {{getId}}{{/getResource}} {{#isAddedOrRemoved}}{{getEventType}}{{/isAddedOrRemoved}}{{#isActiveOrInactive}}{{getEventType}}{{/isActiveOrInactive}}
