Query {{#getResource}}"{{getQueryName}}" returned {{getQueryResult}}{{/getResource}} asset(s) for {{getOrganizationName}} - asset id : {{getAssetId}}{{#isAddedOrRemoved}} {{getEventType}}{{/isAddedOrRemoved}}.
