Query {{#getResource}}"{{getQueryName}}" returned {{getQueryResult}}{{/getResource}} finding(s) for {{getOrganizationName}} - finding id : {{getFindingId}}{{#isActiveOrInactive}} {{getEventType}}{{/isActiveOrInactive}}.
