bigquery-magics==0.10.1
db-dtypes==1.4.3
google-cloud-bigquery==3.34.0
google-cloud-bigquery-storage==2.32.0
ipython===8.18.1; python_version == '3.9'
ipython==9.4.0; python_version >= '3.10'
matplotlib===3.9.2; python_version == '3.9'
matplotlib==3.10.3; python_version >= '3.10'
pandas==2.3.1
