redis==4.5.4; python_version > '3.0'
redis<5; python_version < '3.0'
Flask==1.1.4; python_version < '3.0'
Flask==3.0.0; python_version > '3.0'
Werkzeug==1.0.1; python_version < '3.0'
Werkzeug==3.0.3; python_version > '3.0'
