atomicwrites==1.1.5
attrs==18.1.0
cachetools==2.1.0
certifi==2018.4.16
chardet==3.0.4
click==6.7
dill==0.2.7.1
enum34==1.1.6
Flask==1.0.2
funcsigs==1.0.2
future==0.16.0
gapic-google-cloud-datastore-v1==0.15.3
gapic-google-cloud-error-reporting-v1beta1==0.15.3
gapic-google-cloud-logging-v2==0.91.3
google-api-core==0.1.4
google-auth==1.4.1
google-cloud==0.32.0
google-cloud-core==0.28.1
google-cloud-pubsub==0.30.1
google-cloud-storage==1.6.0
google-gax==0.15.16
google-resumable-media==0.3.1
googleapis-common-protos==1.5.3
grpc-google-iam-v1==0.11.4
grpcio==1.12.0
httplib2==0.11.3
idna==2.6
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
mock==2.0.0
more-itertools==4.1.0
oauth2client==3.0.0
pbr==4.0.3
pluggy==0.6.0
ply==3.8
proto-google-cloud-error-reporting-v1beta1==0.15.3
proto-google-cloud-logging-v2==0.91.3
protobuf==3.5.2.post1
psutil==5.4.5
py==1.5.3
pyasn1==0.4.2
pyasn1-modules==0.2.1
pytest==3.6.0
pytz==2018.4
requests==2.18.4
rsa==3.4.2
six==1.11.0
urllib3==1.22
Werkzeug==0.14.1
