google-auth==1.24.0
google-auth-oauthlib==0.2.0
google-auth-httplib2==0.0.3
google-api-python-client==1.12.8
flask==1.0.2
requests==2.21.0

urllib3>=1.25.9 # not directly required, pinned by Snyk to avoid a vulnerability