Django==5.1.4; python_version >= "3.10"
Django==4.2.17; python_version >= "3.8" and python_version < "3.10"
gunicorn==22.0.0
psycopg2-binary==2.9.9
django-environ==0.11.2
google-cloud-secret-manager==2.16.1
django-storages[google]==1.14.2
