Django==3.0.2; python_version > '3.5'
Django==2.2.9; python_version == '3.5'
# mysqlclient==1.4.1  # Uncomment this line if using MySQL
wheel==0.36.2
gunicorn==20.0.4
#psycopg2==2.8.4 # uncomment if you prefer to build from source
psycopg2-binary==2.8.6
