{% block i18n_functions -%}
function gettext(s) { return s; };
function ngettext(singular, plural, count) {
  return (count == 1) ? singular :plural;
}
{%- endblock %}
String.prototype.format = function() {
  var args = arguments;
  return this.replace(/{(\d+)}/g, function(match, number) {
    return typeof args[number] != 'undefined'
      ? args[number]
      : match
    ;
  });
};
