Flask==1.1.2
google-cloud-trace==0.24.0
opentelemetry-api==0.16b1
opentelemetry-instrumentation==0.16b1
opentelemetry-exporter-google-cloud==0.16b1
opentelemetry-instrumentation-flask==0.16b1
opentelemetry-instrumentation-grpc==0.16b1
opentelemetry-exporter-jaeger==0.16b1
opentelemetry-instrumentation-requests==0.16b1
opentelemetry-instrumentation-wsgi==0.16b1
opentelemetry-sdk==0.16b1
