Flask==3.0.3; python_version > '3.6'
Flask==2.0.3; python_version < '3.7'
werkzeug==3.0.3; python_version > '3.7'
werkzeug==2.3.8; python_version <= '3.7'
google-cloud-storage==2.9.0
gunicorn==23.0.0
