google-cloud-bigquery==3.27.0
google-cloud-bigquery-storage==2.27.0
pandas==3.0.0; python_version == '3.8'
pandas==3.0.0; python_version > '3.8'
pandas-gbq==0.24.0
grpcio==1.70.0; python_version == '3.8'
grpcio==1.74.0; python_version > '3.8'
pyarrow==17.0.0; python_version <= '3.8'
pyarrow==20.0.0; python_version > '3.9'
