azure-storage-blob==12.22.0
backoff==2.2.1; python_version < "3.7"
backoff==2.2.1; python_version >= "3.7"
boto3==1.36.14
google-cloud-pubsub==2.28.0
google-cloud-storage==2.9.0; python_version < '3.7'
google-cloud-storage==2.9.0; python_version > '3.6'
google-cloud-secret-manager==2.16.1
pytest==8.2.0
