Flask==1.1.4; python_version < '3.0'
Flask==2.1.0; python_version > '3.0'
google-cloud-datastore==2.15.1 ; python_version >= "3.0"
google-cloud-datastore==2.15.1 ; python_version < "3.0"
google-cloud-pubsub==2.9.0 ; python_version >= "3.0"
# 1.7.0 is the latest compatible version for Python 2.
google-cloud-pubsub==1.7.2 ; python_version < "3.0"
