pytest==7.0.1
pandas==1.5.3; python_version < '3.7'
pandas==1.5.3; python_version == '3.7'
pandas==2.0.0; python_version > '3.7'
pyarrow==6.0.1; python_version < '3.7'
pyarrow==11.0.0; python_version > '3.6'
google-cloud-bigquery==3.10.0
