<!doctype html>
<html>
<head>
    <title>Memorystore Example</title>
</head>

<body>
    <h1>Memorystore Example</h1>

    <p>
        The <a href="/showdata">following page</a> will display stored
        data. The first time it is displayed it will fetch the value of
        "data" from a slow store. Future refreshes will fetch it from cache
        until it expires (60 seconds in this example).
    </p>

    <p>
        Other values will be fetched only from the cache, if present. Values
        can be stored in the cache by entering them in the form.
    </p>
</body>
</html >