backports.tarfile==1.2.0
cffi==1.17.1
click==8.1.8
cryptography==44.0.0
fido2==1.2.0
importlib_metadata==8.6.1
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jeepney==0.8.0
keyring==25.6.0
more-itertools==10.6.0
pycparser==2.22
pyscard==2.2.1
SecretStorage==3.3.3
yubikey-manager==5.5.1
zipp==3.21.0
