# Explicitly listing more packages than just the direct script dependencies to
# avoid PIP taking too long while resolving dependencies.
# See https://pip.pypa.io/en/stable/topics/dependency-resolution/#backtracking
google-api-core==2.11.0
google-auth==2.16.2
google-cloud-core==2.3.2
google-cloud-pubsub==2.15.1
google-cloud-storage==2.0.0; python_version < '3.7'
google-cloud-storage==2.7.0; python_version >= '3.7'
google-cloud-translate==3.11.0
google-cloud-vision==3.4.0
google-crc32c==1.5.0
google-resumable-media==2.4.1
googleapis-common-protos==1.59.0
grpc-google-iam-v1==0.12.6
grpcio==1.51.3
grpcio-status==1.51.3