{
  "aws_access_key_id": "YOUR_AWS_ACCESS_KEY_ID",
  "aws_secret_access_key": "YOUR_AWS_SECRET_ACCESS_KEY",
  "aws_region": "YOUR_AWS_REGION",
  "gcp_workload_audience": "YOUR_GCP_WORKLOAD_AUDIENCE",
  "gcs_bucket_name": "YOUR_GCS_BUCKET_NAME",
  "gcp_service_account_impersonation_url": "YOUR_GCP_SERVICE_ACCOUNT_IMPERSONATION_URL"
}
