<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <!-- TODO: favicon -->
    <title>Leave review: reCAPTCHA Demo</title>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons&display=block" rel="stylesheet">
    <link href="../static/styles/global.css" rel="stylesheet" />
    <script type="module" src="../static/scripts/component.js"></script>
    <script type="text/javascript" src="../static/scripts/global.js"></script>
    <!-- ATTENTION: reCAPTCHA Example (Part 1) Starts -->
    <!-- See https://cloud.google.com/recaptcha-enterprise/docs/instrument-web-pages-with-checkbox#expandable-1 -->
    <script
      async
      defer
      src="https://www.google.com/recaptcha/enterprise.js"
    ></script>
    <script type="text/javascript">
      async function handleResponse(token) {
        console.log("handleResponse", token);
        // See https://cloud.google.com/recaptcha-enterprise/docs/create-assessment
        const score = await createAssessment({
          action: "send_comment",
          sitekey: "{{context.checkbox_site_key}}",
          token,
        });
        useAssessment(score);
      }
    </script>
    <!-- ATTENTION: reCAPTCHA Example (Part 1) Ends -->
  </head>
  <body>
    <recaptcha-demo step="comment">
      <!-- ATTENTION: reCAPTCHA Example (Part 2) Starts -->
      <div
        class="g-recaptcha"
        data-action="send_comment"
        data-callback="handleResponse"
        data-sitekey="{{context.checkbox_site_key}}"
      ></div>
      <button type="submit">Send comment</button>
      <!-- ATTENTION: reCAPTCHA Example (Part 2) Ends -->
    </recaptcha-demo>
  </body>
</html>
