<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <!-- TODO: favicon -->
    <title>Game: reCAPTCHA Demo</title>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons&display=block" rel="stylesheet">
    <link href="../static/styles/global.css" rel="stylesheet" />
    <script type="module" src="../static/scripts/component.js"></script>
    <script type="text/javascript" src="../static/scripts/global.js"></script>
  </head>
  <body>
    <recaptcha-demo step="game"></recaptcha-demo>
  </body>
</html>
