<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <!-- TODO: favicon -->
    <title>Sign up: reCAPTCHA Demo</title>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons&display=block" rel="stylesheet">
    <link href="../static/styles/global.css" rel="stylesheet" />
    <script type="module" src="../static/scripts/component.js"></script>
    <script type="text/javascript" src="../static/scripts/global.js"></script>
    <!-- ATTENTION: reCAPTCHA Example (Part 1) Starts -->
    <!-- See https://cloud.google.com/recaptcha-enterprise/docs/instrument-web-pages-with-checkbox#expandable-2 -->
    <script
      async
      defer
      src="https://www.google.com/recaptcha/enterprise.js?onload=renderCheckbox&render=explicit"
    ></script>
    <script type="text/javascript">
      function renderCheckbox() {
        grecaptcha.enterprise.render("customizable-checkbox-element-id", {
          action: "sign_up",
          callback: handleResponse,
          sitekey: "{{context.checkbox_site_key}}",
        });
      }
      async function handleResponse(token) {
        console.log("handleResponse", token);
        // See https://cloud.google.com/recaptcha-enterprise/docs/create-assessment
        const score = await createAssessment({
          action: "sign_up",
          sitekey: "{{context.checkbox_site_key}}",
          token,
        });
        useAssessment(score);
      }
    </script>
    <!-- ATTENTION: reCAPTCHA Example (Part 1) Ends -->
  </head>
  <body>
    <recaptcha-demo step="signup">
      <!-- ATTENTION: reCAPTCHA Example (Part 2) Starts -->
      <div class="g-recaptcha" id="customizable-checkbox-element-id"></div>
      <button type="submit">Sign up</button>
      <!-- ATTENTION: reCAPTCHA Example (Part 2) Ends -->
    </recaptcha-demo>
  </body>
</html>
