<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <!-- TODO: favicon -->
    <title>Check out: reCAPTCHA Demo</title>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons&display=block" rel="stylesheet">
    <link href="../static/styles/global.css" rel="stylesheet" />
    <script type="module" src="../static/scripts/component.js"></script>
    <script type="text/javascript" src="../static/scripts/global.js"></script>
    <!-- ATTENTION: reCAPTCHA Example (Part 1) Starts -->
    <!-- See https://cloud.google.com/recaptcha-enterprise/docs/instrument-web-pages#user-action -->
    <script src="https://www.google.com/recaptcha/enterprise.js?render={{context.site_key}}"></script>
    <script type="text/javascript">
      function handleClick(event) {
        event.preventDefault();
        grecaptcha.enterprise.ready(async () => {
          const token = await grecaptcha.enterprise.execute(
            "{{context.site_key}}",
            {
              action: "check_out",
            }
          );
          console.log("handleClick", token);
          // See https://cloud.google.com/recaptcha-enterprise/docs/create-assessment
          const score = await createAssessment({
            action: "check_out",
            sitekey: "{{context.site_key}}",
            token,
          });
          useAssessment(score);
        });
      }
    </script>
    <!-- ATTENTION: reCAPTCHA Example (Part 1) Ends -->
  </head>
  <body>
    <recaptcha-demo step="store">
      <!-- ATTENTION: reCAPTCHA Example (Part 2) Starts -->
      <button onclick="handleClick(event)">Check out</button>
      <!-- ATTENTION: reCAPTCHA Example (Part 2) Ends -->
    </recaptcha-demo>
  </body>
</html>
