# Version list reflects AI platform runtime 2.2
# More information here https://cloud.google.com/ai-platform/training/docs/runtime-version-list
google-api-python-client==1.9.3
google-cloud-storage==1.29.0
oauth2client<4
