Flask==1.1.4; python_version < '3.0'
Flask==2.0.0; python_version > '3.0'
requests==2.26.0
requests_toolbelt==0.9.1
google-auth==1.35.0; python_version < '3.0'
google-auth==2.0.0; python_version > '3.0'
functools32==3.2.3.post2; python_version < "3"
