google-api-python-client==1.12.5
google-auth==1.23.0
google-auth-httplib2==0.0.4
google-cloud-iot==2.0.1
google-cloud-pubsub==1.7.0
google-cloud-storage==1.32.0
cryptography==3.2.1
paho-mqtt==1.5.1
pyjwt==1.7.1
